body{
    background-color: black;
}

/* navbar */
.nav a{
    color: white;
}
.nav a:hover{
    color: darkgrey;
}

/* home */
.homeContainer{
    color: white;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 2em; 
    text-align: center;
    margin-top: 5rem;
    align-items: center;
}

.buttonHireMe{
    width: 6em;
    height: 2rem;
    background-color: black;
    color: white;
    border-radius: 3rem;
    border-color: darkgrey;
    cursor: pointer;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/*   

  h3{
      color: rgb(169, 166, 166);
      text-align: center;
  }

  p{
      color: rgb(169, 166, 166);
  }

  .container{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0em 1em; 
  }



  .container1{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0em 0em; 
  }

  .container2{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 1em 1em; 
  }

  .service1{
      border: solid 1px grey;
  }

  .service2{
    border: solid 1px grey;
}

.service3{
    border: solid 1px grey;
}

.container3{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 1em 1em; 
}

.contact{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 1em 5em; 
}

.contactRight{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0fr 0fr 0fr 1fr 0fr; 
    gap: 1em 1em; 
}

.cL1{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 1em 1em; 
}

.cL2{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 1em 1em; 
}
    
.cL3{
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr; 
        gap: 1em 1em; 
    }

.intro p{
        text-align: center;
     }

.footer p{
    text-align: center;
} */